*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  
  border: goldenrod solid;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 1em;

}
header h1{
  text-shadow: 0.1em 0.02em   #ff9494;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

main{
  margin: 1em;
  border: rgb(32, 218, 94) solid;
  display: flex;
}
ul{
  display: flex;
}

section{
  margin: 1em;
}
aside{
  margin: 0.2em;
}
